*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  list-style: none;
  text-decoration: none;
}

:root{
  font-size: 62.5%;
}

body{
  background: #ECE9FD;
  color:  #090039;

  font-family: 'Epilogue', sans-serif;
  font-size: 1.6rem;
  line-height: 3.2rem;

  padding: 60px 23px;
}

main{
  display: flex;
  flex-direction: column;
  gap: 7.2rem;

  margin: 0 auto;
}

.text-wrapper p:first-child{  
  color:#7158EF;

  letter-spacing: 3px;
  text-transform: uppercase;

  margin-bottom: 1.7rem;
}

.text-wrapper h1{
  font-size: 4.0rem;
  font-weight: 800;
  line-height: 4.8rem;

  margin-bottom: 1.5rem;
}

.text-wrapper p{
  color: #0A0039A3;

  margin-bottom: 32px;
}

.text-wrapper a{
  color:#090039;
}

.text-wrapper a:hover{
  font-weight: bold;
}

ul{
  width: 90%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

ul li{
  font-size: 2.4rem;
  font-weight: 700;
  
  display: flex;
  align-items: center;

  gap: 2.6rem;
}

ul li + li{

  margin-top: 3.2rem;
}

ul li:first-child{
  gap: 3.8rem;
}

ul li span{

  font-size: 7.2rem;
  font-weight: 800;
  line-height: 8.0rem;
  letter-spacing: -2px;
}

@media screen and (min-width:768px){ 
  main{
    max-width: 1020px;

    flex-direction: row;

    margin: 6rem auto;
    padding: 8rem;
  }

  .text-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  ul{
    height: 360px;

    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }

  ul li{
    align-items: center;
  }
}

@media screen and (min-width:800px) and (min-height:1024px){

  body{
    font-size: 2.5rem;
  }

  main{
    width: 85%;

    flex-direction: column;
  }

  .text-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 2rem;
  }

  .text-wrapper p:first-child{
    margin-bottom: 0;
  }

  ul{
    height: 360px;

    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 3.2rem;

  }

  ul li{
    align-items: center;
  }
}